<section class="section">
    <div class="columns">
        <div class="column is-hidden-mobile">
            &nbsp;
        </div>
        <div class="column is-three-fifths has-text-centered">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-16by9">
                    <img src="/img/tug.gif">
                    </figure>
                </div>
                <div class="content">
                    <br/> 

                    <p class="title is-4">Send your teammates a collar tug</p>
                    <p class="subtitle is-6">
                        <code>
                        /collartug
                        </code>
                    </p>

                    <a href="https://slack.com/oauth/authorize?scope=commands&client_id=70109410515.366496717013">
                        <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" 
                             srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
                    </a>
                </div>
            </div>
        </div>
        <div class="column is-hidden-mobile">
            &nbsp;
        </div>
    </div>
</section>